body {
	font-family: 'Verdana';
	background-color: #091a23;
	font-size: 18px;
}

td.subject {
	background-color: #163341;
	font-weight: bold;
	color: white;
	vertical-align: top;
	width: 20%;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color:white;
	text-decoration: underline;
}

table {
	width: 100%;
}

td {
	padding: 8px;
}
