body {
	font-family: 'Verdana';
	background-color: #091a23;
	font-size: 18px;
}

td {
	padding: 10px;
}

td.subject {
	background-color: #163341;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color:white;
	text-decoration: underline;
}

table {
	width: 100%;
	border-collapse: collapse;
}
