body {
	font-family: 'Verdana';
	background-color: #0d1117;
	font-size: 16px;
}

td.github {
	background-color: white;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color:white;
	text-decoration: underline;
}
